.picture2{
    width: 400px;
}
.ump{
    width: 200px;
    /*height: 20px;*/
}
input {
    margin-bottom: 30px;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color:rgba(0, 0, 0, 0);
    outline: none;
    color: rgb(0, 0, 0);
    caret-color: rgb(0, 0, 0);
    padding: 14px 100px; 
    
}
input[type=text]::placeholder {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  input[type=submit] {
    background: rgba(23, 113, 248, 0.726);
    width: 100%;
    padding: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px;
  }
  .text-center {
    text-align: center;
}